html,body{
    margin: 0;
    padding: 0;
}

#app {
    min-height: 100%;
    position: relative;
    background-color: #1d387a;
}




.error-msg {
    display: none;
    font-size: 0.34666667rem;
    line-height: 0.74666667rem;
    color: red;
}
.error-msg.show {
    display: block
}



.submitbtn.hide{
    display: none;
}
.submitbtn.bg-gray{
    background-color: #eee;
    color: #999;
    text-align: center;
}
.banner-img{
    width: 100%;
}
.biaodan{
    width: 100%;
}
.biaodan .content{
    width: 90%;
    border-radius: 5px;
    /* background-color: #fff; */
    margin: 20px auto 0 auto;
}
.input-content{
    width: 80%;
    margin: auto;
}
.input-box{
    border-radius: 5px;
    border: 1px solid #65a9a6;
    text-indent: 20px;
    display: flex;
    align-items: center;
}
.input-icon{
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 10px;
}
.user-tel{
    flex: 1;
    border: none;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #233878;
    color: #fff;
    outline: none;
}

.button-box{
    width: 80%;
    margin: 20px auto 0 auto;
}
.submitbtn {
    padding: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    background-color: #c0592c;
    background: linear-gradient(to right,#8ac5d3 , #3a71b7 );
    border-radius: 5px;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    font-size: 0.48rem;
    margin: auto;
    border: none;
}
.top-img{
    position: relative;
    width: 100%;
}
.top-img label{
    position: absolute;
    color: #1d387a;
    left: 3%;
    top: 12%;
    font-size: 22px;
    font-weight: 800;
    text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white;
}
.top-img span{
    position: absolute;
    color: #1d387a;
    width: 70%;
    left: 3%;
    top: 20%;
    font-size: 14px;
    font-weight: 800;
    text-shadow:-1px 0 white,0 1px white,1px 0 white,0 -1px white;
}
.top-text{
    position: absolute;
    color: #333;
    width: 50%;
    right: 3%;
    bottom: 10%;
    font-size: 14px;
    font-weight: 800;
}
.text1,.text2{
    font-size: 20px;
    margin: 3px 0;
}
.text3,.text5{
    background-color: #f5f34d;
    font-size: 16px;
    text-indent: 10px;
}
.text4{
    font-size: 14px;
    margin: 10px 0;
}
.none-logo{
    position: absolute;
    width: 3.5rem;
    height: 1.0667rem;
    background-color: #1d387a;
    top: 3%;
    left: 2%;
    border-radius: 0.5333rem;
    font-size: 18px;
    text-align: center;
    color: #fff;
    line-height: 1.0667rem;
}