<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.AccountMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.Account">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="optAmount" column="opt_amount" jdbcType="DECIMAL"/>
            <result property="beforeAmount" column="before_amount" jdbcType="DECIMAL"/>
            <result property="afterAmount" column="after_amount" jdbcType="DECIMAL"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="optType" column="opt_type" jdbcType="INTEGER"/>
            <result property="optTime" column="opt_time" jdbcType="TIMESTAMP"/>
            <result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
            <result property="refNo" column="ref_no" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,opt_amount,
        before_amount,after_amount,type,
        opt_type,opt_time,user_agent,
        ref_no,remark
    </sql>
</mapper>
