<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.DepositMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.Deposit">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="optAmount" column="opt_amount" jdbcType="DECIMAL"/>
            <result property="optType" column="opt_type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
            <result property="userAgentNode" column="user_agent_node" jdbcType="VARCHAR"/>
            <result property="userAgentLevel" column="user_agent_level" jdbcType="INTEGER"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_name,
        real_name,opt_amount,opt_type,
        status,user_agent,user_agent_node,
        user_agent_level,order_time
    </sql>
</mapper>
