<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.Goods">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsPrice" column="goods_price" jdbcType="DECIMAL"/>
            <result property="goodsImg" column="goods_img" jdbcType="VARCHAR"/>
            <result property="areaId" column="area_id" jdbcType="INTEGER"/>
            <result property="shopName" column="shop_name" jdbcType="VARCHAR"/>
            <result property="goodsDetail" column="goods_detail" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,goods_name,goods_price,
        goods_img,area_id,shop_name,
        goods_detail,create_time,create_by,
        update_time,update_by,remark,
        status
    </sql>
</mapper>
