<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="preBatch" column="pre_batch" jdbcType="VARCHAR"/>
            <result property="goodsPrice" column="goods_price" jdbcType="DECIMAL"/>
            <result property="goodsCount" column="goods_count" jdbcType="INTEGER"/>
            <result property="orderAmount" column="order_amount" jdbcType="DECIMAL"/>
            <result property="commission" column="commission" jdbcType="DECIMAL"/>
            <result property="commissionRate" column="commission_rate" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="payTime" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="preId" column="pre_id" jdbcType="INTEGER"/>
            <result property="countNum" column="count_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_name,
        nick_name,goods_id,goods_price,
        goods_count,order_amount,commission,commission_rate,
        status,order_time,pay_time,pre_batch,
        pre_id,count_num
    </sql>
</mapper>
