<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="projectId" column="project_id" jdbcType="INTEGER"/>
            <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="incomeRate" column="income_rate" jdbcType="DECIMAL"/>
            <result property="limitTime" column="limit_time" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="forecastReturnTime" column="forecast_return_time" jdbcType="TIMESTAMP"/>
            <result property="actualReturnTime" column="actual_return_time" jdbcType="TIMESTAMP"/>
            <result property="forecastReturnAmount" column="forecast_return_amount" jdbcType="DECIMAL"/>
            <result property="actualReturnAmount" column="actual_return_amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_name,
        project_id,project_name,real_name,
        amount,income_rate,limit_time,
        start_time,end_time,forecast_return_time,
        actual_return_time,forecast_return_amount,actual_return_amount,
        status,user_agent
    </sql>
</mapper>
