<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="balance" column="balance" jdbcType="DECIMAL"/>
            <result property="realName" column="real_name" jdbcType="VARCHAR"/>
            <result property="idCard" column="id_card" jdbcType="VARCHAR"/>
            <result property="loginPwd" column="login_pwd" jdbcType="VARCHAR"/>
            <result property="payPwd" column="pay_pwd" jdbcType="VARCHAR"/>
            <result property="inviteCode" column="invite_code" jdbcType="VARCHAR"/>
            <result property="walletAddr" column="wallet_addr" jdbcType="VARCHAR"/>
            <result property="bankCardNum" column="bank_card_num" jdbcType="VARCHAR"/>
            <result property="bankName" column="bank_name" jdbcType="VARCHAR"/>
            <result property="bankAddr" column="bank_addr" jdbcType="VARCHAR"/>
            <result property="userStatus" column="user_status" jdbcType="INTEGER"/>
            <result property="userLevelId" column="user_level_id" jdbcType="INTEGER"/>
            <result property="userAgent" column="user_agent" jdbcType="VARCHAR"/>
            <result property="isRealName" column="is_real_name" jdbcType="INTEGER"/>
            <result property="registerTime" column="register_time" jdbcType="TIMESTAMP"/>
            <result property="registerIp" column="register_ip" jdbcType="VARCHAR"/>
            <result property="lastTime" column="last_time" jdbcType="TIMESTAMP"/>
            <result property="lastIp" column="last_ip" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,balance,
        real_name,id_card,login_pwd,
        pay_pwd,invite_code,wallet_addr,
        bank_card_num,bank_name,bank_addr,
        user_status,user_level_id,user_agent,
        is_real_name,register_time,register_ip,
        last_time,last_ip,modify_time
    </sql>

    <!-- 修改用户余额 -->
    <update id="updateUserBalance">
        update t_user set balance = balance + #{balance} where balance + #{balance} >= 0 and user_name = #{userName}
    </update>
</mapper>
