<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.UserReportMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.UserReport">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="today" column="today" jdbcType="VARCHAR"/>
            <result property="depositAmount" column="deposit_amount" jdbcType="DECIMAL"/>
            <result property="withdrawAmount" column="withdraw_amount" jdbcType="DECIMAL"/>
            <result property="investmentAmount" column="investment_amount" jdbcType="DECIMAL"/>
            <result property="incomeAmount" column="income_amount" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,today,
        deposit_amount,withdraw_amount,investment_amount,
        income_amount
    </sql>

    <insert id="insertOrUpdate">
        insert into t_user_report
        (user_name, today, deposit_amount, withdraw_amount, investment_amount, income_amount)
        VALUES (#{report.userName},
                #{report.today},
                #{report.depositAmount},
                #{report.withdrawAmount},
                #{report.investmentAmount},
                #{report.incomeAmount}) ON DUPLICATE KEY
        UPDATE
            deposit_amount = deposit_amount + #{report.depositAmount},
            withdraw_amount = withdraw_amount + #{report.withdrawAmount},
            investment_amount = investment_amount + #{report.investmentAmount},
            income_amount = income_amount + #{report.incomeAmount}
    </insert>
</mapper>
