<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.juhai.commons.mapper.VersionMapper">

    <resultMap id="BaseResultMap" type="com.juhai.commons.entity.Version">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="platForm" column="plat_form" jdbcType="VARCHAR"/>
            <result property="version" column="version" jdbcType="VARCHAR"/>
            <result property="downloadUrl" column="download_url" jdbcType="VARCHAR"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,plat_form,version,
        download_url,modify_time
    </sql>
</mapper>
